.contactList{
    background-color: #b5dfef;
    margin: 1%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    border-width: 0px;
    box-shadow: -5px 5px 13px -3px rgb(0 0 0 / 75%);
    padding-top: 10px;
    padding-bottom: 10px;
    color: #16617e;
}

.contactName:hover{
    color: white;
    font-weight: bold;
    cursor: pointer;
}